
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

.about-parent{
  width: 100%;
  min-height: calc(100vh- 70px);
}

.about{
    width: 80%;
    height: calc(100vh - 70px);
    background: #fff;
    display: flex;
    font-family: montserrat;
    margin: 0 auto;
}

.about-links {
  border: 2px solid #9b9b9b;
  padding : 15px;
  min-height: 500px;
  max-height: 500px;
  width: 90%;
  border-radius: 5px;
  overflow-y: auto;
}

.about-div1 h3{
    font-size: 2.1em;
    font-weight: 700;
}

.div3{
  margin-left: 20px;
}

.about-div1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.about-div1 p{
    font-size: 1.5em;
    font-weight: 600;
}

.about-div2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: cover;
  overflow: hidden;
}

.about-div2 img{
  width: 90%;
  height: 90%;
   background-position: cover;
}

.btn2 {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 40px;
  }


  
@media (min-width: 0) and (max-width: 550px) {
      
      .about{
          width: 100%;
          min-height: calc(100vh - 70px);
          background: #fff;
          display: flex;
          flex-wrap: wrap;
          font-family: montserrat;
          padding: 20px;
          margin: 0 auto;
      }
      
.about-div1{
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}


.about-links {
  border: 2px solid #9b9b9b;
  padding : 10px;
  min-height: 300px;
  width: 90%;
  border-radius: 5px;
  overflow-y: auto;
}

      /* about section */
      .about-div1 h3{
        text-align: center;
          font-size: 1.8em;
          font-weight: 700;
          margin-bottom: 10px;
      }
      
  
      .about-div1 p{
          font-size: 1em;
          font-weight: 600;
      }
      
      .about-div2{
         width: 100%;
         margin-top: 0;
        /* overflow: hidden; */
      }
      
      .about-div2 img{
        width: 100vw;
        height: 50vh;
      }
      
}