
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

.dashboard-parent{
  width: 100%;
  min-height: calc(100vh- 70px);
}

.dashboard{
    width: 80%;
    height: calc(100vh - 70px);
    background: #fff;
    display: flex;
    font-family: montserrat;
    margin: 0 auto;
}

/* dashboard section */
.dashboard-div1{
  width: 80%;

}

.dashboard-form{
  width: 90%;

}
.dashboard-div1 h2{
    font-size: 3em;
    font-weight: 800;
}

.dashboard-div1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-div1 p{
    font-size: 1em;
    font-weight: 600;
}

.input-bor{
  border: 2px solid grey;
}

.dashboard-div2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: cover;
  overflow: hidden;
}

.dashboard-div2 img{
  width: 800px;
  height: 500px;
   /* background-attachment: fixed; */
   background-position: cover;
}

.btn2 {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 40px;
  }


  
@media (min-width: 0) and (max-width: 550px) {
      
      .dashboard{
          width: 100%;
          min-height: calc(100vh - 70px);
          background: #fff;
          display: flex;
          flex-wrap: wrap;
          font-family: montserrat;
          padding: 20px;
          margin: 0 auto;
      }
      
      /* dashboard section */
      .dashboard-div1 h2{
          font-size: 2.4em;
          font-weight: 700;
      }
      
      .dashboard-div1{
          height: 500px;
          margin: 0 auto;
          /* height: 100%; */
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      
      .dashboard-div1 p{
          font-size: 1.6em;
          font-weight: 600;
      }
      
      .dashboard-div2{
         width: 100%;
         margin-top: -13vh;
        /* overflow: hidden; */
      }
      
      .dashboard-div2 img{
        width: 100vw;
        height: 50vh;
      }
      
}